h2,
p {
  color: #fff;
}

.cartItem {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  width: 100%;
  background: linear-gradient(180deg, #000 29.73%, #555 100%);
  border-radius: 20px;
  border: 1px solid #891c21;
}

.content {
  display: flex;
}

.itemClear {
  padding: 5px;
}

.itemClear img {
  height: 30px;
  width: 30px;
}

.itemImg {
  height: 90px;
}

.itemImg img {
  height: 90px;
  border-radius: 20px 0 0 20px;
}

.description {
  padding: 5px 0px;
  margin-left: 20px;
}

.title {
  width: 130px;
}
.title h2 {
  width: 170px;
  font-size: 16px;
}

.itemPrice {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.price {
  width: 60%;
  padding-top: 10%;
  margin-right: 30px;
}

/* Изменить шрифт .................................................................*/
.price p {
  font-size: 16px;
}

.input {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  margin-top: 20px;
  border: 1px solid #891c21;
  width: 130px;
  padding: 4px;
  height: 40px;
  border-radius: 20px;
}

.newInput {
  width: 30px;
  height: 30px;
  font-size: 25px;
  margin: 0 10px;
  text-align: center;
}

.quantityButton {
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.219);
  cursor: pointer;
  background-color: #891c21;
  border-radius: 100px;
}

.quantityButton:hover {
  background-color: #891c21c0;
}

.quantityButton p {
  font-size: 25px;
  text-align: center;
}

.clear {
  cursor: pointer;
}

.clear:hover {
  background-color: #fdf5e171;
  border-radius: 50%;
}

@media (max-width: 480px) {
  .description {
    margin-left: 10px;
  }
  .description {
    width: 140px;
  }
  .input {
    margin-top: 20px;
    width: 120px;
    height: 40px;
  }
  .newInput {
    width: 15px;
  }
  .quantityButton {
    width: 30px;
    height: 30px;
  }
  .itemPrice {
    width: 150px;
  }
  .price {
    width: 15%;
  }
}
