.blockIMG {
  margin: 0 auto;
  width: 100%; /* Устанавливаем ширину блока */
  height: 400px; /* Устанавливаем высоту блока */
  overflow: hidden; /* Обрезаем содержимое, которое выходит за границы блока */
}

.blockIMG img {
  width: 100%; /* Ширина картинки равна 100% ширины родительского блока */
  height: auto; /* Автоматически высчитываем высоту, чтобы сохранить соотношение сторон */
  object-fit: none; /* Картинка не изменяет своего расширения */
}

@media (max-width: 1200px) {
  .blockIMG {
    width: 1000px;
  }
}

@media (max-width: 1000px) {
  .blockIMG {
    width: 768px;
  }
}

@media (max-width: 768px) {
  .blockIMG {
    width: 480px;
  }
  .blockIMG img {
    width: 100%; /* Ширина картинки равна 100% ширины родительского блока */
  }
}
