.mainAddress {
  width: 1200px;
  margin: 0 auto;
  background-color: #1d1d1d;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.25);
  margin-top: 5px;
  align-items: center;
  display: none;
  color: #fff;
  margin-bottom: 5px;
}

.container img {
  width: 40px;
  height: 50px;
  }

.address {
  display: flex;
  justify-content: start;
}

.address p {
  color: #fff;
}
.address h2 {
  color: #fff;
}

@media (max-width: 768px) {
  .mainAddress {
    display: block;
    width: 100%;
    
  }

  .container {
    display: flex;
    justify-content: center;
  }

  .container img {
    margin: 10px 10px 10px;
  }

  .address {
    padding: 10px 0px 5px 0px;
  }
  .address p {
    font-size: 14px;
  }
  .address h2 {
    padding-right: 20px;
    font-size: 14px;
  }
}

@media (max-width: 480px) {
  .mainAddress {
    width: 100%;
  }

  .addressBlock {
    margin-top: 5px;
  }
  .address {
    padding: 10px 0px 0px 0px;
  }
  .address p {
    font-size: 13px;
  }
  .address h2 {
    padding-right: 10px;
    font-size: 15px;
  }
  .container img {
    width: 40px;
    height: 50px;
    margin: 12px 0px 0px 4px;
  }
}
