.form {
  text-align: center;
}

.button {
  align-items: center;
}

.form .noActive {
  background-color: #555;
  width: 110%;
  border-color: white;
  cursor: pointer;
}
.form .noActive:hover {
  background-color: #555;
}

.form button {
  position: relative;
  display: inline-block;
  overflow: hidden;
  text-decoration: none;
  font: inherit;
  cursor: pointer;
  background-color: #891c21;
  border: 1px solid #891c21;
  color: white;
  padding: 0.25rem 4rem;
  border-radius: 20px;
  font-weight: bold;
}

.form button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 1.5em;
  height: 100%;
  background-color: #ffffff31;
  transform: translateX(-4em) skewX(-45deg);
  transition: 0.5s;
}

.form button:hover::before {
  animation: move-light 0.7s;
}

@keyframes move-light {
  from {
    transform: translateX(-4em) skewX(-45deg);
  }
  to {
    transform: translateX(15em) skewX(-45deg);
  }
}

.form button:hover,
.form button:active {
  background-color: #891c21c0;
  border-color: white;
  color: white;
}

.input {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  margin-top: 20px;
  border: 1px solid #891c21;
  width: 130px;
  padding: 4px;
  height: 40px;
  margin-left: 30%;
  border-radius: 20px;
}

.quantityButton {
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.219);
  cursor: pointer;
  background-color: #891c21;
  border-radius: 100px;
  padding-top: 3px;
  font-size: 20px;
}

.quantityButton:hover {
  background-color: #891c21c0;
}

.newInput {
  width: 30px;
  height: 30px;
  font-size: 25px;
  margin: 0 10px;
  text-align: center;
}

@media (max-width: 1000px) {
  .form button {
    margin-top: 20px;
    padding: 0.25rem 2rem;
    border-radius: 20px;
    font-weight: bold;
    left: 12%;
    color: #fff;
  }
  .input {
    margin-left: 20%;
  }
}

@media (max-width: 768px) {
  .form button {
    left: 0;
  }
  .input {
    margin-left: 0;
  }
}

@media (max-width: 480px) {
  .form button {
    left: 2%;
  }
  .input {
    margin-left: 5%;
  }
}
@media (max-width: 390px) {
  .form button {
    left: 0;
  }
  .input {
    margin-left: 5%;
  }
}
