@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Open+Sans&display=swap");

.navigastion {
  padding: 25px;
  height: 80px;
  width: 100%;
}

li {
  position: relative;
  list-style-type: none;
  display: inline;
  margin-right: 10px;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-family: "Open Sans", sans-serif;
}

li::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  border-radius: 10px;
  transition: 0.2s;
  transform: scaleX(0);
}

li::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-left: 1px solid #fff;
  border-right: 1px solid #fff;
  transition: 0.2s;
  border-radius: 10px;
  transform: scaleY(0);
}

li:hover::before,
li:hover::after {
  transform: scale(1);
}

.navigastion ul {
  display: flex;
  justify-content: space-between;
  margin-left: 10px;
  padding-left: 0;
}

.active {
  text-align: center;
  background-color: #891c21;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  color: #fff;
  border-radius: 10px;
}

@media (max-width: 1200px) {
  .navigastion ul {
    padding: 10px;
    align-items: center;
  }
}
@media (max-width: 1000px) {
  .navigastion {
    margin-bottom: 60px;
  }
  .navigastion ul {
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-items: center;
  }
}
@media (max-width: 768px) {
  .navigastion {
    margin-bottom: 100px;
  }
  .navigastion ul {
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
  }
}
@media (max-width: 480px) {
  .navigastion {
    margin: 0;
    padding: 0;
    margin-bottom: 50px;
  }
}

@media (max-width: 390px) {
  .navigastion li {
    font-size: 14px;
  }
}
